#views-carousel-3d-wrapper {
		width: 700px;
		height: 150px;
		background-color: #111;
		position: absolute;
		top: 200px;
		left: 100px;
}
#views-carousel-3d-wrapper .views-carousel-3d-item {
		position: absolute;
		left: 300px;
		width: 110px;
}
